{% extends "base.html" %}
{% block browser_title %} Home {% endblock %}
{% block page_title %} Home {% endblock %}
{% block content %}
<p>Welcome to the COMP 182 gradebook.</p>
<h3>View Student</h3>
<form action = "{{ url_for('routes.student') }}" method="POST">
    <p>{{ view_student_form.students }}</p>
    <p>{{ view_student_form.submit }}</p>
</form>
<div class="divider"></div>
<h3>Add Student</h3>
<h4>Current students</h4>
{% if students %}
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    {% for s in students %}
        <tr>
          <td>{{ s.id }}</td>
          <td>{{ s.name }}</td>
        </tr>
    {% endfor %}    
</table>
{% endif %}
<h4>Add new student</h4>
<form action="{{ url_for('routes.add_student') }}" method="POST">
    {{ render_success("add_student") }}
    {{ render_errors("add_student") }}
    <p>Name: {{ add_student_form.name }}</p>
    <p>{{ add_student_form.submit }}</p>
</form>
<div class="divider"></div>
<h3>Add Assignment</h3>
<h4>Current assignments</h4>
{% if assignments %}
<table>
    <tr>
        <th>Title</th>
        <th>Weight</th>
        <th>Due Date</th>
    </tr>
    {% for a in assignments %}
        <tr>
          <td>{{ a.title }}</td>
          <td>{{ a.weight }}</td>
          <td>{{ a.due_date }}</td>
        </tr>
    {% endfor %}    
</table>
{% endif %}
<h4>Add new assignment</h4>
<form action="{{ url_for('routes.add_assignment') }}" method="POST">
    {{ render_success("add_assignment") }}
    {{ render_errors("add_assignment") }}
    <p>Title: {{ add_assignment_form.title }}</p>
    <p>Weight: {{ add_assignment_form.weight }}</p>
    <p>Due: {{ add_assignment_form.due_date }}</p>
    <p>{{ add_assignment_form.submit }}</p>
</form>
{% endblock %}
