{% extends "base.html" %}
{% block browser_title %} Student Information {% endblock %}
{% block page_title %} Student Information {% endblock %}
{% block content %}
    <p>Grades for {{student.name}}</p>
<h3>View Student</h3>
<form action = "{{ url_for('routes.student') }}" method="GET">
    <p>{{ view_student_form.students }}</p>
    <p>{{ view_student_form.submit }}</p>
</form>
<h3>Add Grade</h3>
<form action="{{ url_for('routes.add_student') }}" method="POST">
    {{ render_success("add_student") }}
    {{ render_errors("add_student") }}
    <p>Name: {{ add_student_form.name }}</p>
    <p>{{ add_student_form.submit }}</p>
</form>
<a href="/">Back to home</a>
{% endblock %}
